 <%= render 'user', user: @user %>
 <div>
 <h2>Bio:</h2>
 <p><%= @user.bio %></p>
 </div>

 <div>
 <h2> Recent posts:</h2>
 <% @user.recent_posts.each do |post| %>
  
  <h3><%= post.title %></h3>
  <p><%= post.text %></p>
  <p><%= post.likes_counter %> likes</p>
  <p><%= post.comments_counter %> comments</p>
  <% end %>
  <a>See all posts</a>
 </div>
  