<div class="post">
  <div class="post-show">
    <h3><%= @post.title %> by <%= @post.author.name%> </h3>
    <span class='react'>
    <p class='small'>comments: <%= @post.comments_counter %></p>
    <p class='small'> Likes: <%= @post.likes_counter %></p>
    <%=form_with :url => user_post_likes_path(@user, @post), :method => :post do |f|%>
      <%= f.button do %>
        Like
      <% end %>
    <%end%>
    </span>
  </div>
  <p class='post-text'><%= @post.text %></p>
</div>
<div class="comment">
  <% @comments.each do |comment| %>
    <p><%= comment.author.name%> : <%= comment.text %></p>
  <% end %>
  <%= link_to 'Add Comment', new_user_post_comment_path(@user.id, @post.id) %>
</div>